@font-face {
  font-family: 'Quattrocento_Sans';
  src: url('./Quattrocento_Sans/QuattrocentoSans-Regular.ttf') format('ttf');
      font-weight: 600;
      font-style: normal;
} 

* {
  font-family: 'Quattrocento_Sans', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: azure;
}

:root {
  --content-cards-border: 10px solid #4c0519;
}

body {
  background-color: #171717;
}

header {
  background-color: #ec4899;
  height: 70px;
  display:  flex;
  justify-content: center;
  align-items: center;
  min-width: 594px;
  margin-bottom: 50px;
  padding: 30px;
}

nav button {
  border: 4px solid azure;
  background-color: #be185d;
  height: 45px;
  text-align: center;
  width: 100px;
  margin: 50px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
}

footer {
  height: 70px;
  background-color: #ec4899;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: inherit;
}

#content {
  width: 60%;
  margin: 30px auto;
  background-color: #ec4899;
  border-radius: 10px;
}

.home-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#content h1 {
  border: 10px solid #4c0519;
  width: 70%;
  padding: 10px;
  text-align: center;
  margin: 30px;
  border-radius: 15px;
}

.intro {
  width: 50%;
  align-self: center;
  margin-bottom: 30px;
  padding: 15px;
  border: var(--content-cards-border);
  border-radius: 30px;
}

.intro p:first-child {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.intro p:last-child {
  font-style: italic;
  font-size: 1.2rem;
  margin: 10px;
}

.operation-time {
  border: var(--content-cards-border);
  width: 50%;
  padding: 0.625rem;
  border-radius: 1.875rem;
  margin-bottom: 30px;
}

.operation-time h3 {
  font-size: 1.3rem;
  padding: 10px 20px 10px 40px;
}

.work-hours {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding-bottom: 10px;
  font-size: 1.2rem;
}

.location {
  border: var(--content-cards-border);
  border-radius: 0.625rem;
  width: 50%;
  padding: 0.625rem;
  margin-bottom: 30px;
}

.location h3 {
  font-size: 1.3rem;
  padding: 10px 20px 10px 40px;
}

.location p {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 10px;
}

.menu-content, .contact-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 1.5rem;
}

.menu-heading {
  border: var(--content-cards-border);
  border-radius: 30px;
  margin-bottom: 15px;
  width: 30%;
  height: 4rem;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 26px;
  font-weight: 600;
}

.food-item {
  width: 60%;
  height: 525px;
  border: 13px solid #4c0519;
  align-self: center;
  padding-top: 2rem;
  text-align: center;
  border-radius: 30px;
}

.food-item h3 {
  font-size: 1.7rem;
  font-weight: 600;
  padding-bottom: 0.8rem;
}

.description {
  font-weight: 500;
  font-size: 1.2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 1.2rem;
}

.price {
  font-weight: 600;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  padding-left: 0;
}

.menu-img {
  height: 250px;
  width: 250px;
  border-radius: 25px;
}

.contact-item {
  border: var(--content-cards-border);
  border-radius: 1.2rem;  
  width: 40%;
  height: 180px;
  padding: 1.3rem;
}

.contact-item h3 {
  padding-left: 1.4rem;
  padding-bottom: 0.8rem;
}

.contact-item p {
  font-size: 1.2rem;
  padding-bottom: 0.2rem;
  padding-left: 3rem;
  font-weight: 500;
}

/* Interactions */
nav button:hover {
  cursor: pointer;
}